*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

body{
background:linear-gradient(#87CEEB,#C8F4FF,#A5D6A7);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.container{
width:100%;
max-width:450px;
background:#ffffffee;
border-radius:25px;
padding:25px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
text-align:center;
}

h1{
color:#ff9800;
font-size:38px;
margin-bottom:10px;
}

h3{
color:#4CAF50;
margin-bottom:20px;
}

.creator{
background:#FFF9C4;
padding:12px;
border-radius:15px;
margin-bottom:20px;
font-size:18px;
line-height:30px;
}

input{
width:100%;
padding:15px;
font-size:20px;
border-radius:15px;
border:2px solid #ddd;
margin-bottom:20px;
text-align:center;
}

button{
width:100%;
padding:15px;
font-size:22px;
border:none;
border-radius:15px;
background:#4CAF50;
color:white;
margin-top:12px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.03);
}

.header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
font-size:20px;
font-weight:bold;
color:#444;
}

.questionBox{
background:#E3F2FD;
padding:25px;
border-radius:20px;
margin-bottom:20px;
}

#questionText{
font-size:28px;
line-height:45px;
}

.option{
background:#42A5F5;
}

.option:nth-child(even){
background:#FF9800;
}

.correct{
background:#4CAF50 !important;
}

.wrong{
background:#F44336 !important;
}